---
layout: cv
---

<header>
  <h1 style="text-align: center">{{ page.title }}</h1>
</header>
<hr />

<!-- Contact Information Section -->
{% if page.contact %}
<section>
  <h2>Contact Information</h2>
  <p>{{ page.contact }}</p>
</section>

<!-- Digital Portfolio Section -->
{% endif %} {% if page.digital_portfolio %}
<h2 class="mt-2 mb-2 font-bold">Digital Portfolio</h2>
<p>{{ page.digital_portfolio }}</p>
{% endif %}

<!-- Skills Section -->
{% if page.skills %}
<section class="skills-section">
  <h2>Skills</h2>
  <skills class="skills-grid">
    {% for skill in page.skills %}
    <li>{{ skill }}</li>
    {% endfor %}
  </skills>
</section>
{% endif %}

<!-- Experience Section -->
{% if page.experience %}
<section>
  <h2 class="mt-2 mb-2 font-bold">Experience</h2>
  {% for job in page.experience %}
  <article>
    <h3>{{ job.role }} | {{ job.company }}</h3>
    <p><strong>{{ job.dates }}</strong></p>
    <p>{{ job.description }}</p>
  </article>
  {% endfor %}
</section>
{% endif %}

<!-- Education Section -->
{% if page.education %}
<section>
  <h2 class="mt-2 mb-2 font-bold">Education</h2>
  <ul>
    {% for edu in page.education %}
    <li class="font-semibold">
      <strong>{{ edu.degree }}</strong> {{ edu.institution }} {{ edu.dates }}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<!-- Additional Sections (Organizations, Mentorship, References, etc.) -->
{% if page.organizations %}
<section>
  <h2 class="mt-2 mb-2 font-bold">Professional Organizations</h2>
  <ul>
    {% for org in page.organizations %}
    <li>{{ org }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %} {% if page.volunteer %}
<section>
  <h2 class="mt-2 mb-2 font-bold">Community Involvement</h2>
  <ul>
    {% for volunteer in page.volunteer %}
    <li>{{ volunteer }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
